doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='icon', type='image/png', href='assets/img/favicon.ico')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
    meta(name='viewport', content='width=device-width')
    title #{pageTitle}
    // Bootstrap core CSS
    style
      include assets/css/bootstrap.min.css
      include assets/css/animate.min.css
      include assets/css/light-bootstrap-dashboard.css
      include assets/css/demo.css
      include assets/css/pe-icon-7-stroke.css
    // Fonts and icons
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,700,300', rel='stylesheet', type='text/css')
    link(href='assets/css/pe-icon-7-stroke.css', rel='stylesheet')
  body
    .wrapper
      .sidebar(data-color='purple')
        // you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        .sidebar-wrapper
          .logo
            a.simple-text(href='http://www.creative-tim.com')
              | Items
          ul.nav
            li
              a(href='first')
                i.pe-7s-graph
                p All Students
            li
              a(href='second')
                i.pe-7s-bell
                p 6th Semester
            li.active
              a(href='third')
                i.pe-7s-map-marker
                p 7th - FC
            li
              a(href='fourth')
                i.pe-7s-science
                p Miss Julie
            li.active-pro
              a(href='https://www.google.com')
                i.pe-7s-rocket
                p DONT TOUCH
      .main-panel
        nav.navbar.navbar-default.navbar-fixed
          .container-fluid
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navigation-example-2')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#') All Students on DB
            .collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-left
                
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='')
                    p Erick LV
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    p
                      | Options
                      b.caret
                  ul.dropdown-menu
                    li
                      a(href='first') All Students
                    li
                      a(href='second') 6th Students
                    li
                      a(href='third') 7th Students - FC
                    li
                      a(href='fourth') Miss Julie
                    li.divider
                    li
                      a(href='#') >:v
                
                li.separator.hidden-lg.hidden-md
        .content
          .container-fluid
            .row
              .col-md-12
                .card
                  .header
                    h4.title Students Table
                    p.category Content
                  .content.table-responsive.table-full-width
                    table.table.table-hover.table-striped
                      thead
                        th Cod
                        th Name
                        th Lastname
                        th Faculty
                        th Semester

                      tbody
                        each result in results
                          tr
                            td #{result.cod}
                            td #{result.name}
                            td #{result.lastname} 
                            td #{result.faculty}
                            td #{result.semester}
              
        footer.footer
          .container-fluid
            nav.pull-left
              ul
                li
                  a(href='#')
                    | ಠ_ಠ
                li
                  a(href='#')
                    | ( ͡° ͜ʖ ͡°)
                li
                  a(href='#')
                    | (ง'̀-'́)ง
            
  // Core JS Files
  script
          include assets/js/jquery.3.2.1.min.js
          include assets/js/bootstrap.min.js
          include assets/js/chartist.min.js
          include assets/js/bootstrap-notify.js

  // Google Maps Plugin
  script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE')
  // Light Bootstrap Table Core javascript and methods for Demo purpose
  script(src='assets/js/light-bootstrap-dashboard.js?v=1.4.0')
  // Light Bootstrap Table DEMO methods, don't include it in your project!
  script(src='assets/js/demo.js')










